In [2]:
import pandas as pd

In [3]:
districts = pd.read_csv(r"..\Data\US-Educational-Finances\districts.csv")
districts.head()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486

In [4]:

districts_FL = districts.loc[districts['STATE']=='Florida']
districts_FL.tail()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
360567,Florida,NaN,UNION CO SCH DIST,1992,10294,677,8134,1483,9987,4176,3692,NaN,1381
360568,Florida,NaN,VOLUSIA CO SCHOOL DIST,1992,286273,15416,134605,136252,271981,121765,86032,NaN,35491
360569,Florida,NaN,WAKULLA CO SCH DIST,1992,19301,1472,14578,3251,17465,7700,6247,NaN,2188
360570,Florida,NaN,WALTON CO SCH BD,1992,27749,2230,12753,12766,30201,11774,8034,NaN,8354
360571,Florida,NaN,WASHINGTON CO SCH DIST,1992,24742,2190,18677,3875,21864,10645,6479,NaN,927

In [5]:
districts_FL.isna().sum()

STATE        0
ENROLL      67
NAME         0
YRDATA       0
TOTALREV     0
TFEDREV      0
TSTREV       0
TLOCREV      0
TOTALEXP     0
TCURINST     0
TCURSSVC     0
TCURONON    67
TCAPOUT      0
dtype: int64

In [10]:
districts_FL.head()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
2116,Florida,29305.0,ALACHUA COUNTY SCHOOL DISTRICT,2016,284322,37221,127007,120094,273720,145600,98252,18355.0,9633
2117,Florida,5002.0,BAKER COUNTY SCHOOL DISTRICT,2016,42669,4829,30339,7501,41827,21846,16340,2831.0,728
2118,Florida,27781.0,BAY COUNTY SCHOOL DISTRICT,2016,277236,25959,110611,140666,264686,150349,74092,15038.0,22166
2119,Florida,3206.0,BRADFORD COUNTY SCHOOL DISTRICT,2016,32096,5049,18265,8782,29985,16261,10399,3031.0,268
2120,Florida,72704.0,BREVARD COUNTY SCHOOL DISTRICT,2016,724781,75416,331552,317813,682700,384788,205693,33133.0,38280

In [11]:
std_districts_FL = districts_FL.iloc[:,4:].div(districts_FL.ENROLL, axis=0)
std_districts_FL = std_districts_FL.join(districts_FL['NAME'])
std_districts_FL = std_districts_FL.join(districts_FL['YRDATA'])
std_districts_FL.head()

,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,NAME,YRDATA
2116,9.702167,1.270125,4.333970,4.098072,9.340386,4.968435,3.352738,0.626344,0.328715,ALACHUA COUNTY SCHOOL DISTRICT,2016
2117,8.530388,0.965414,6.065374,1.499600,8.362055,4.367453,3.266693,0.565974,0.145542,BAKER COUNTY SCHOOL DISTRICT,2016
2118,9.979338,0.934416,3.981534,5.063389,9.527591,5.411936,2.667003,0.541305,0.797883,BAY COUNTY SCHOOL DISTRICT,2016
2119,10.011229,1.574860,5.697130,2.739239,9.352776,5.072052,3.243606,0.945415,0.083593,BRADFORD COUNTY SCHOOL DISTRICT,2016
2120,9.968929,1.037302,4.560299,4.371328,9.390130,5.292529,2.829184,0.455725,0.526518,BREVARD COUNTY SCHOOL DISTRICT,2016

In [17]:
years=[]
for x in range(1998,2018):
    years.append(str(x))
    
std_districts_FL = std_districts_FL.loc[std_districts_FL['YRDATA'].isin(years)]   

std_districts_FL.tail()

,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,NAME,YRDATA
302049,9.627917,0.445549,8.140017,1.042351,9.026361,2.911409,2.262748,0.493086,3.338807,UNION CO SCH DIST,1998
302050,6.368639,0.397319,3.113438,2.857882,5.882819,3.074372,1.857039,0.253060,0.545439,VOLUSIA CO SCHOOL DIST,1998
302051,5.875726,0.385078,4.269404,1.221243,5.591486,2.684154,2.063642,0.329177,0.394109,WAKULLA CO SCH DIST,1998
302052,6.563068,0.496506,1.601852,4.464710,6.212264,2.964011,1.936932,0.381726,0.837177,WALTON CO SCH BD,1998
302053,9.854067,1.000598,7.040670,1.812799,8.198864,3.736842,2.766148,1.348983,0.339414,WASHINGTON CO SCH DIST,1998

In [32]:


std_districts_FL.reset_index(drop=True, inplace=True)
std_districts_FL.head()

,TCURONON,TCAPOUT,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC
0,0.626344,0.328715,ALACHUA COUNTY SCHOOL DISTRICT,2016,9.702167,1.270125,4.333970,4.098072,9.340386,4.968435,3.352738
1,0.565974,0.145542,BAKER COUNTY SCHOOL DISTRICT,2016,8.530388,0.965414,6.065374,1.499600,8.362055,4.367453,3.266693
2,0.541305,0.797883,BAY COUNTY SCHOOL DISTRICT,2016,9.979338,0.934416,3.981534,5.063389,9.527591,5.411936,2.667003
3,0.945415,0.083593,BRADFORD COUNTY SCHOOL DISTRICT,2016,10.011229,1.574860,5.697130,2.739239,9.352776,5.072052,3.243606
4,0.455725,0.526518,BREVARD COUNTY SCHOOL DISTRICT,2016,9.968929,1.037302,4.560299,4.371328,9.390130,5.292529,2.829184

In [37]:
cols = [ 'NAME',
     'YRDATA',
     'TOTALREV',
     'TFEDREV',
     'TSTREV',
     'TLOCREV',
     'TOTALEXP',
     'TCURINST',
     'TCURSSVC',
     'TCURONON',
     'TCAPOUT']

std_districts_FL = std_districts_FL[cols]
std_districts_FL.head()

,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,ALACHUA COUNTY SCHOOL DISTRICT,2016,9.702167,1.270125,4.333970,4.098072,9.340386,4.968435,3.352738,0.626344,0.328715
1,BAKER COUNTY SCHOOL DISTRICT,2016,8.530388,0.965414,6.065374,1.499600,8.362055,4.367453,3.266693,0.565974,0.145542
2,BAY COUNTY SCHOOL DISTRICT,2016,9.979338,0.934416,3.981534,5.063389,9.527591,5.411936,2.667003,0.541305,0.797883
3,BRADFORD COUNTY SCHOOL DISTRICT,2016,10.011229,1.574860,5.697130,2.739239,9.352776,5.072052,3.243606,0.945415,0.083593
4,BREVARD COUNTY SCHOOL DISTRICT,2016,9.968929,1.037302,4.560299,4.371328,9.390130,5.292529,2.829184,0.455725,0.526518

In [39]:
std_districts_FL.to_csv(r"..\Data\Florida Data\District Finances\FL_District_Finances.csv")

In [34]:
std_districts_FL['NAME']

0                 ALACHUA COUNTY SCHOOL DISTRICT
1                   BAKER COUNTY SCHOOL DISTRICT
2                     BAY COUNTY SCHOOL DISTRICT
3                BRADFORD COUNTY SCHOOL DISTRICT
4                 BREVARD COUNTY SCHOOL DISTRICT
5                 BROWARD COUNTY SCHOOL DISTRICT
6                 CALHOUN COUNTY SCHOOL DISTRICT
7               CHARLOTTE COUNTY SCHOOL DISTRICT
8                  CITRUS COUNTY SCHOOL DISTRICT
9                    CLAY COUNTY SCHOOL DISTRICT
10                COLLIER COUNTY SCHOOL DISTRICT
11               COLUMBIA COUNTY SCHOOL DISTRICT
12      MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT
13                DE SOTO COUNTY SCHOOL DISTRICT
14                  DIXIE COUNTY SCHOOL DISTRICT
15                  DUVAL COUNTY SCHOOL DISTRICT
16               ESCAMBIA COUNTY SCHOOL DISTRICT
17                FLAGLER COUNTY SCHOOL DISTRICT
18               FRANKLIN COUNTY SCHOOL DISTRICT
19                GADSDEN COUNTY SCHOOL DISTRICT
20              GILCHRIST COUNTY SCHOOL DISTRICT
21                 GLADES COUNTY SCHOOL DISTRICT
22                   GULF COUNTY SCHOOL DISTRICT
23               HAMILTON COUNTY SCHOOL DISTRICT
24                 HARDEE COUNTY SCHOOL DISTRICT
25                 HENDRY COUNTY SCHOOL DISTRICT
26               HERNANDO COUNTY SCHOOL DISTRICT
27              HIGHLANDS COUNTY SCHOOL DISTRICT
28           HILLSBOROUGH COUNTY SCHOOL DISTRICT
29                 HOLMES COUNTY SCHOOL DISTRICT
                          ...
1243                            LEVY CO SCH DIST
1244                         LIBERTY CO SCH DIST
1245                         MADISON CO SCH DIST
1246                         MANATEE CO SCH DIST
1247                          MARION CO SCH DIST
1248                          MARTIN CO SCH DIST
1249                          MONROE CO SCH DIST
1250                          NASSAU CO SCH DIST
1251                        OKALOOSA CO SCH DIST
1252                      OKEECHOBEE CO SCH DIST
1253                         ORANGE CO SCH BOARD
1254                         OSCEOLA CO SCH DIST
1255                      PALM BEACH CO SCH DIST
1256                   PASCO COUNTY SCHOOL BOARD
1257                        PINELLAS CO SCH DIST
1258                            POLK CO SCH DIST
1259                          PUTNAM CO SCH DIST
1260                        ST JOHNS CO SCH DIST
1261                        ST LUCIE CO SCH DIST
1262                      SANTA ROSA CO SCH DIST
1263                        SARASOTA CO SCH DIST
1264                        SEMINOLE CO SCH DIST
1265                          SUMTER CO SCH DIST
1266                        SUWANNEE CO SCH DIST
1267                          TAYLOR CO SCH DIST
1268                           UNION CO SCH DIST
1269                      VOLUSIA CO SCHOOL DIST
1270                         WAKULLA CO SCH DIST
1271                            WALTON CO SCH BD
1272                      WASHINGTON CO SCH DIST
Name: NAME, Length: 1273, dtype: object

In [8]:
std_districts_FL['COUNTY NAME'] = std_districts_FL.NAME.str.title().str.split().str[0]

In [9]:
std_districts_FL['COUNTY NAME']

2116           Alachua
2117             Baker
2118               Bay
2119          Bradford
2120           Brevard
2121           Broward
2122           Calhoun
2123         Charlotte
2124            Citrus
2125              Clay
2126           Collier
2127          Columbia
2128        Miami-Dade
2129                De
2130             Dixie
2131             Duval
2132          Escambia
2133           Flagler
2134          Franklin
2135           Gadsden
2136         Gilchrist
2137            Glades
2138              Gulf
2139          Hamilton
2140            Hardee
2141            Hendry
2142          Hernando
2143         Highlands
2144      Hillsborough
2145            Holmes
              ...
360542            Levy
360543         Liberty
360544         Madison
360545         Manatee
360546          Marion
360547          Martin
360548          Monroe
360549          Nassau
360550        Okaloosa
360551      Okeechobee
360552          Orange
360553         Osceola
360554            Palm
360555           Pasco
360556        Pinellas
360557            Polk
360558          Putnam
360559              St
360560              St
360561           Santa
360562        Sarasota
360563        Seminole
360564          Sumter
360565        Suwannee
360566          Taylor
360567           Union
360568         Volusia
360569         Wakulla
360570          Walton
360571      Washington
Name: COUNTY NAME, Length: 1675, dtype: object