In [2]:
import pandas as pd

In [3]:
districts = pd.read_csv(r"..\Data\US-Educational-Finances\districts.csv")
districts.head()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
0,Alabama,9609.0,AUTAUGA COUNTY SCHOOL DISTRICT,2016,80867,7447,53842,19578,76672,43843,23941,6401.0,1506
1,Alabama,30931.0,BALDWIN COUNTY SCHOOL DISTRICT,2016,338236,23710,145180,169346,299880,164977,97231,19439.0,9749
2,Alabama,912.0,BARBOUR COUNTY SCHOOL DISTRICT,2016,10116,2342,5434,2340,10070,4907,3896,975.0,110
3,Alabama,2842.0,EUFAULA CITY SCHOOL DISTRICT,2016,26182,3558,15900,6724,29843,15302,7901,2274.0,4133
4,Alabama,3322.0,BIBB COUNTY SCHOOL DISTRICT,2016,32486,3664,21846,6976,31662,16407,11087,3122.0,486

In [4]:

districts_FL = districts.loc[districts['STATE']=='Florida']
districts_FL.tail()

,STATE,ENROLL,NAME,YRDATA,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT
360567,Florida,NaN,UNION CO SCH DIST,1992,10294,677,8134,1483,9987,4176,3692,NaN,1381
360568,Florida,NaN,VOLUSIA CO SCHOOL DIST,1992,286273,15416,134605,136252,271981,121765,86032,NaN,35491
360569,Florida,NaN,WAKULLA CO SCH DIST,1992,19301,1472,14578,3251,17465,7700,6247,NaN,2188
360570,Florida,NaN,WALTON CO SCH BD,1992,27749,2230,12753,12766,30201,11774,8034,NaN,8354
360571,Florida,NaN,WASHINGTON CO SCH DIST,1992,24742,2190,18677,3875,21864,10645,6479,NaN,927

In [5]:
districts_FL.isna().sum()

STATE        0
ENROLL      67
NAME         0
YRDATA       0
TOTALREV     0
TFEDREV      0
TSTREV       0
TLOCREV      0
TOTALEXP     0
TCURINST     0
TCURSSVC     0
TCURONON    67
TCAPOUT      0
dtype: int64

In [6]:
std_districts_FL = districts_FL.iloc[:,4:].div(districts_FL.ENROLL, axis=0)
std_districts_FL = std_districts_FL.join(districts_FL['NAME'])
std_districts_FL.head()

,TOTALREV,TFEDREV,TSTREV,TLOCREV,TOTALEXP,TCURINST,TCURSSVC,TCURONON,TCAPOUT,NAME
2116,9.702167,1.270125,4.333970,4.098072,9.340386,4.968435,3.352738,0.626344,0.328715,ALACHUA COUNTY SCHOOL DISTRICT
2117,8.530388,0.965414,6.065374,1.499600,8.362055,4.367453,3.266693,0.565974,0.145542,BAKER COUNTY SCHOOL DISTRICT
2118,9.979338,0.934416,3.981534,5.063389,9.527591,5.411936,2.667003,0.541305,0.797883,BAY COUNTY SCHOOL DISTRICT
2119,10.011229,1.574860,5.697130,2.739239,9.352776,5.072052,3.243606,0.945415,0.083593,BRADFORD COUNTY SCHOOL DISTRICT
2120,9.968929,1.037302,4.560299,4.371328,9.390130,5.292529,2.829184,0.455725,0.526518,BREVARD COUNTY SCHOOL DISTRICT

In [7]:
std_districts_FL['NAME']

2116                ALACHUA COUNTY SCHOOL DISTRICT
2117                  BAKER COUNTY SCHOOL DISTRICT
2118                    BAY COUNTY SCHOOL DISTRICT
2119               BRADFORD COUNTY SCHOOL DISTRICT
2120                BREVARD COUNTY SCHOOL DISTRICT
2121                BROWARD COUNTY SCHOOL DISTRICT
2122                CALHOUN COUNTY SCHOOL DISTRICT
2123              CHARLOTTE COUNTY SCHOOL DISTRICT
2124                 CITRUS COUNTY SCHOOL DISTRICT
2125                   CLAY COUNTY SCHOOL DISTRICT
2126                COLLIER COUNTY SCHOOL DISTRICT
2127               COLUMBIA COUNTY SCHOOL DISTRICT
2128      MIAMI-DADE COUNTY PUBLIC SCHOOL DISTRICT
2129                DE SOTO COUNTY SCHOOL DISTRICT
2130                  DIXIE COUNTY SCHOOL DISTRICT
2131                  DUVAL COUNTY SCHOOL DISTRICT
2132               ESCAMBIA COUNTY SCHOOL DISTRICT
2133                FLAGLER COUNTY SCHOOL DISTRICT
2134               FRANKLIN COUNTY SCHOOL DISTRICT
2135                GADSDEN COUNTY SCHOOL DISTRICT
2136              GILCHRIST COUNTY SCHOOL DISTRICT
2137                 GLADES COUNTY SCHOOL DISTRICT
2138                   GULF COUNTY SCHOOL DISTRICT
2139               HAMILTON COUNTY SCHOOL DISTRICT
2140                 HARDEE COUNTY SCHOOL DISTRICT
2141                 HENDRY COUNTY SCHOOL DISTRICT
2142               HERNANDO COUNTY SCHOOL DISTRICT
2143              HIGHLANDS COUNTY SCHOOL DISTRICT
2144           HILLSBOROUGH COUNTY SCHOOL DISTRICT
2145                 HOLMES COUNTY SCHOOL DISTRICT
                            ...
360542                            LEVY CO SCH DIST
360543                         LIBERTY CO SCH DIST
360544                         MADISON CO SCH DIST
360545                         MANATEE CO SCH DIST
360546                          MARION CO SCH DIST
360547                          MARTIN CO SCH DIST
360548                          MONROE CO SCH DIST
360549                          NASSAU CO SCH DIST
360550                        OKALOOSA CO SCH DIST
360551                      OKEECHOBEE CO SCH DIST
360552                         ORANGE CO SCH BOARD
360553                         OSCEOLA CO SCH DIST
360554                      PALM BEACH CO SCH DIST
360555                   PASCO COUNTY SCHOOL BOARD
360556                        PINELLAS CO SCH DIST
360557                            POLK CO SCH DIST
360558                          PUTNAM CO SCH DIST
360559                        ST JOHNS CO SCH DIST
360560                        ST LUCIE CO SCH DIST
360561                      SANTA ROSA CO SCH DIST
360562                        SARASOTA CO SCH DIST
360563                        SEMINOLE CO SCH DIST
360564                          SUMTER CO SCH DIST
360565                        SUWANNEE CO SCH DIST
360566                          TAYLOR CO SCH DIST
360567                           UNION CO SCH DIST
360568                      VOLUSIA CO SCHOOL DIST
360569                         WAKULLA CO SCH DIST
360570                            WALTON CO SCH BD
360571                      WASHINGTON CO SCH DIST
Name: NAME, Length: 1675, dtype: object

In [8]:
std_districts_FL['COUNTY NAME'] = std_districts_FL.NAME.str.title().str.split().str[0]

In [9]:
std_districts_FL['COUNTY NAME']

2116           Alachua
2117             Baker
2118               Bay
2119          Bradford
2120           Brevard
2121           Broward
2122           Calhoun
2123         Charlotte
2124            Citrus
2125              Clay
2126           Collier
2127          Columbia
2128        Miami-Dade
2129                De
2130             Dixie
2131             Duval
2132          Escambia
2133           Flagler
2134          Franklin
2135           Gadsden
2136         Gilchrist
2137            Glades
2138              Gulf
2139          Hamilton
2140            Hardee
2141            Hendry
2142          Hernando
2143         Highlands
2144      Hillsborough
2145            Holmes
              ...
360542            Levy
360543         Liberty
360544         Madison
360545         Manatee
360546          Marion
360547          Martin
360548          Monroe
360549          Nassau
360550        Okaloosa
360551      Okeechobee
360552          Orange
360553         Osceola
360554            Palm
360555           Pasco
360556        Pinellas
360557            Polk
360558          Putnam
360559              St
360560              St
360561           Santa
360562        Sarasota
360563        Seminole
360564          Sumter
360565        Suwannee
360566          Taylor
360567           Union
360568         Volusia
360569         Wakulla
360570          Walton
360571      Washington
Name: COUNTY NAME, Length: 1675, dtype: object