In [1]:
import pandas as pd

#Load data for juvenile populations

juv_pop=pd.read_csv('..\Data\Florida data\Juvenile Crime by County\FL_Juvenile_Pop.csv')
juv_pop.drop([0],axis=0, inplace=True) #Drops all counties
juv_pop.reset_index(drop=True, inplace=True)
juv_pop.head()

,counts,1998,1999,2000,2001,2002,2003,2004,2005,2006,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,Total
0,Alachua County,44683,44252,43856,43498,43272,42889,42897,43358,44181,...,44391,44289,44665,44913,45383,46072,46690,47667,47915,893605
1,Baker County,6129,6087,6156,6129,6278,6248,6398,6569,6793,...,7114,7024,6991,6885,6763,6752,6735,6877,6826,132635
2,Bay County,36257,36089,35580,35816,36003,36358,36740,37645,38213,...,37072,37089,36732,37073,37672,38434,39179,39597,39612,746262
3,Bradford County,5861,5788,5719,5700,5624,5646,5683,5728,5828,...,5726,5640,5563,5535,5496,5410,5425,5393,5542,112974
4,Brevard County,104005,104467,104852,106178,107137,107868,109570,111336,111569,...,108605,107193,105456,104662,104079,104183,105826,107226,108792,2144400

In [7]:
#Upload excel file with all the juvenile crime data for years 1998 to 2017

xls = pd.ExcelFile(r'..\Data\Florida data\Juvenile Crime by County\UCR_Arrest_Breakdown_County_1998-2017 (2).xlsx')

#create a list of the years to make it easier to load the data into separate data frames

years=[]
for x in range(1998,2018):
    years.append(str(x))

#Read in excel sheet for each year    
FL_juv_crime=pd.read_excel(xls,years)

 


for x in years:
    
    #This section removes unnecessary rows and columns 
    df_dic=FL_juv_crime[str(x)].copy()
    df_dic.drop([0,1,69,70,71],axis=0, inplace=True)
    df_dic = df_dic[['COUNTY NAME','Unnamed: 6', 'Unnamed: 7']].copy()
    
    #Here we calculate total juvenile arrests per county by adding Male and Female arrests
    df_dic['TOTAL ARRESTS']= df_dic['Unnamed: 6'] + df_dic['Unnamed: 7']
    
    #Just keep County Name and the total arrests. 
    df_dic = df_dic[['COUNTY NAME', 'TOTAL ARRESTS']]
    
    #In this section we combine the two data sets for juvenile arrests and juvenile populations and calculate the crime rate
    FL_juv_crime[str(x)] = df_dic
    FL_juv_crime[str(x)].reset_index(drop=True, inplace=True)
    FL_juv_crime[str(x)]['JUVENILE POP'] = juv_pop[str(x)]
    FL_juv_crime[str(x)]['CRIME RATE'] = (FL_juv_crime[str(x)]['TOTAL ARRESTS']/FL_juv_crime[str(x)]['JUVENILE POP'])*100


#This is to verify that the for loop gives us the result we want
#This is the first entry of the dictionary
FL_juv_crime['1998'].head()

  COUNTY NAME TOTAL ARRESTS  JUVENILE POP CRIME RATE
0     Alachua          1854         44683    4.14923
1       Baker           114          6129    1.86001
2         Bay          1898         36257    5.23485
3    Bradford            62          5861    1.05784
4     Brevard          4721        104005     4.5392

In [91]:
#Confirming with the second entry in the dictionary
FL_juv_crime['1999'].tail()

   COUNTY NAME TOTAL ARRESTS  JUVENILE POP CRIME RATE
62       Union            61          2962    2.05942
63     Volusia          3039         89244    3.40527
64     Wakulla           284          5791    4.90416
65      Walton           252          8749    2.88033
66  Washington            79          4924    1.60439